@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgb(28, 30, 34);
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #0c1f2d;
    width: 100%;
    border: ridge;
    background-color: white;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: #000000;
    font-size: 17px;
    font-weight: 500;
}
footer {
    background-color: #882626;
    padding: 1.25rem;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0;
    display: inline-block;
}
main{
    background-color: rgb(28, 30, 34);
}
.linha1 {
    color: white;
    display: flex;
    margin-top:50px;
    flex-wrap: wrap;
    justify-content: center;
}
  
.quadro1, .quadro2 {
    flex: 1;
    font-size: large;
    margin: 0 185px;
    max-width: 550px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(35, 38, 44);
    box-shadow: 0 4px 8px rgba(216, 37, 37, 0.034); 
}


.linha2 {
    color: white;
    margin-top:50px;
    margin-bottom:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.quadro3, .quadro4 {
    flex: 1;
    margin: 0 185px;
    font-size: large;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px;
    background-color: rgb(35, 38, 44);
    box-shadow: 0 4px 8px rgba(216, 37, 37, 0.034); 
}
.titulo{
    font-size: 1.8rem;
    color: white;
    text-align: center;
    margin-top: 40px;
}
main h3{
    text-align: center;
}
main p{
    text-align: justify;
}
